<br>
<div style="text-align: center;">
<h1 id="titleId">{{title}}</h1>
</div>
<div  class="container" id="search">
<form class="d-flex" id="getLyrics">
<input class="form-control me-2" placeholder="Исполнитель" aria-label="Search" name="artist">
<input class="form-control me-2" placeholder="Композиция" aria-label="Search" name="title">
<button class="btn btn-secondary" type="submit" id="searchbtn">Get lyrics!</button> 
</form>
</div>
<div id="lyrics"></div>

<script src="/js/lyrics.js" defer></script>
