{{message}}
<br>
{{#unless userName}}
<div style="text-align: center;">
<h1 id="titleId">Пожалуйста, зарегистрируйтесь!</h1>
</div>
{{/unless}}
{{#if userName}}
<div style="text-align: center;">
<h1 id="titleId">Добро пожаловать, {{userName}}!</h1>
</div>
{{/if}}
<div  class="container" id="search">
<form class="d-flex" id="getLyrics">
{{#if userName}}
<input class="form-control me-2" placeholder="Исполнитель" aria-label="Search" name="artist" required>
<input class="form-control me-2" placeholder="Композиция" aria-label="Search" name="title" required>
<button class="btn btn-secondary" type="submit" id="searchbtn">Get lyrics!</button> 
{{/if}}
{{#unless userName}}
<input class="form-control me-2" placeholder="Исполнитель" aria-label="Search" name="artist" disabled>
<input class="form-control me-2" placeholder="Композиция" aria-label="Search" name="title" disabled>
<button class="btn btn-secondary" type="submit" id="searchbtn" disabled>Get lyrics!</button> 
{{/unless}}
</form>
</div>

<div id="box">
<div class="card mb-3" style="min-width: 600px;" id="lyrics">
    <div class="row g-0">
      <div class="col-md-13">
        <div class="card-body">
          <h5 class="card-title" id="fact"></h5>
          <p class="card-text"></p>
          <p class="card-text"><small
              class="text-muted"
            ></small></p>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/js/lyrics.js" defer></script>
